@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  margin: 0 auto;
  min-height: 100svh;
}

img,
picture,
svg,
video {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 75ch not higher than that */
p {
  max-width: 75ch;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

section {
  width: 41rem;
}

.ingredients,
.instructions,
.nutrition-list {
  position: relative;
}

.ingredients::after,
.instructions::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #e3ddd7;
}

.nutrition-list::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #e3ddd7;
}
